@charset "UTF-8";

/*
	Use part of TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
}

.image.fit img {
   width: 100%;
   height: auto;
}


body {
   font-family: "Poppins", sans-serif;
}



body,
input,
select,
textarea {
   color: rgba(255, 255, 255, 0.75);
   font-size: 14pt;
   font-weight: 300;
}

@media screen and (max-width: 1680px) {

   body,
   input,
   select,
   textarea {
      font-size: 11pt;
   }
}

@media screen and (max-width: 1280px) {

   body,
   input,
   select,
   textarea {
      font-size: 11pt;
   }
}

@media screen and (max-width: 980px) {

   body,
   input,
   select,
   textarea {
      font-size: 12pt;
   }
}

@media screen and (max-width: 736px) {

   body,
   input,
   select,
   textarea {
      font-size: 12pt;
   }
}

@media screen and (max-width: 480px) {

   body,
   input,
   select,
   textarea {
      font-size: 12pt;
   }
}


h1,
h2,
h3,
h4,
h5,
h6 {
   color: #fff;
   font-weight: bold;
   margin: 0 0 1em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
   color: inherit;
   text-decoration: none;
}

h2 {
   font-size: 1.75em;
}

h3 {
   font-size: 1.35em;
}

h4 {
   font-size: 1.1em;
}

h5 {
   font-size: 0.9em;
}

h6 {
   font-size: 0.7em;
}

code {
   background: rgba(144, 144, 144, 0.075);
   border-radius: 4px;
   border: solid 1px rgba(144, 144, 144, 0.25);
   font-size: 0.9em;
   margin: 0 0.25em;
   padding: 0.25em 0.65em;
}


/* Box */

.thumbnails {
   display: -moz-flex;
   display: -webkit-flex;
   display: -ms-flex;
   display: flex;
   -moz-align-items: stretch;
   -webkit-align-items: stretch;
   -ms-align-items: stretch;
   align-items: stretch;
   -moz-justify-content: center;
   -webkit-justify-content: center;
   -ms-justify-content: center;
   justify-content: center;
   -moz-flex-wrap: wrap;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   background-color: rgb(255, 255, 255);
   padding: 2em 0;
   align-items: flex-start;
}

.thumbnails .box {
   margin: 1em;
   padding: 1em;
   margin: 0em 1em 1em 0em;
   width: 20%;
   height: 100%;
}

.thumbnails .box p,
.thumbnails .box .specific-class h3 {
   text-align: left !important;
}

@media screen and (max-width: 1280px) {
   .thumbnails .box {
      width: 30%;
      flex-wrap: wrap;
   }
}

@media screen and (max-width: 950px) {
   .thumbnails .box {
      width: 45%;
      flex-wrap: wrap;
   }
}

@media screen and (max-width: 736px) {
   .thumbnails .box {
      width: 95%;
      flex-wrap: wrap;
   }
}

.container {
   width: 150px;
   height: 150px;
   perspective: 400px;
   margin: 50px auto;
   margin-top: 2em;
}

.cube {
   width: 100%;
   height: 100%;
   position: relative;
   transform-style: preserve-3d;
   animation: spin 10s linear infinite;
}

.face {
   position: absolute;
   width: 150px;
   height: 150px;
   background-color: #2748738f;
   border: 1px solid #ffffff;
}

.front {
   transform: translateZ(75px);
}

.back {
   transform: rotateY(180deg) translateZ(75px);
}

.top {
   transform: rotateX(90deg) translateZ(75px);
}

.bottom {
   transform: rotateX(-90deg) translateZ(75px);
}

.left {
   transform: rotateY(-90deg) translateZ(75px);
}

.right {
   transform: rotateY(90deg) translateZ(75px);
}

@keyframes spin {
   100% {
      transform: rotateX(360deg) rotateY(360deg);
   }
}


/* Box */

.box {
   margin-bottom: 2em;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.box> :last-child,
.box> :last-child> :last-child,
.box> :last-child> :last-child> :last-child {
   margin-bottom: 0;
}

.box .image.fit {
   margin: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.box .image img:hover {
   transform: scale(1.1);
   transition: transform 1s;
}

.box .image img {
   border-radius: 4px 4px 0 0;
}

.box .inner {
   width: 100% !important;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   margin: 0;
}

.box .inner h3 {
   font-weight: 400;
   display: flex;
   align-items: center;
   justify-content: center;
}

.box .inner h3,
.box .inner p {
   color: black;
   width: 100%;
   height: 100%;
   padding: 0.2em;
}

.box h3 {
   font-weight: bold;
}

.box .inner p {
   color: gray;
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.box .inner h3 {
   width: 100%;
   margin: 0;
   display: flex;
   justify-content: center;
   font-weight: bold;
   color: #274873;
}

@media screen and (max-width: 1280px) {
   .box .image.fit {
      margin: 0;
      width: 100%;
      height: 50%;
   }

   .box .inner {
      width: 100% !important;
      display: flex;
      flex-direction: column;
   }

   .box .inner h3,
   .box .inner p {
      text-align: left;
      width: 100%;
      height: 100%;
      text-align: center;
   }

   .box .inner h3 {
      display: flex;
      justify-content: center;
   }
}

@media screen and (max-width: 736px) {
   .box .image.fit {
      margin: 0;
      width: 100%;
   }

   .box .inner {
      width: 100% !important;
      display: flex;
      flex-direction: column;
   }

   .box .inner h3,
   .box .inner p {
      color: black;
      text-align: left;
      width: 100%;
      height: 100%;
      text-align: center;
   }

   .box .inner h3 {
      display: flex;
      justify-content: center;
   }
}

@media screen and (max-width: 480px) {
   .box .inner {
      padding: 1em;
   }

   .box .inner h3 {
      display: flex;
      justify-content: center;
   }
}

.box.alt {
   border: 0;
   border-radius: 0;
   padding: 0;
}

/* Icon */

.icon {
   text-decoration: none;
   border-bottom: none;
   position: relative;
}

.icon:before {
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   font-style: normal;
   font-weight: normal;
   text-transform: none !important;
}

.icon>.label {
   display: none;
}

/* Image */

.image {
   border-radius: 4px;
   border: 0;
   display: inline-block;
   position: relative;
}

.image img {
   border-radius: 4px;
   display: block;
}

.image.left,
.image.right {
   max-width: 40%;
}

.image.left img,
.image.right img {
   width: 100%;
}

.image.left {
   float: left;
   padding: 0 1.5em 1em 0;
   top: 0.25em;
}

.image.right {
   float: right;
   padding: 0 0 1em 1.5em;
   top: 0.25em;
}

.image.fit {
   display: block;
   margin: 0 0 2em 0;
   width: 100%;
}

.image.fit img {
   width: 50%;
   height: auto;
}

.image.main {
   display: block;
   margin: 0 0 3em 0;
   width: 100%;
}

.image.main img {
   width: 100%;
}

/* List */

ol {
   list-style: decimal;
   margin: 0 0 2em 0;
   padding-left: 1.25em;
}

ol li {
   padding-left: 0.25em;
}

ul {
   list-style: disc;
   margin: 0 0 2em 0;
   padding-left: 1em;
}

ul li {
   padding-left: 0.5em;
}

ul.alt {
   list-style: none;
   padding-left: 0;
}

ul.alt li {
   border-top: solid 1px rgba(144, 144, 144, 0.25);
   padding: 0.5em 0;
}

ul.alt li:first-child {
   border-top: 0;
   padding-top: 0;
}

ul.icons {
   cursor: default;
   list-style: none;
   padding-left: 0;
}

ul.icons li {
   display: inline-block;
   text-align: center;
   padding-left: 0;
   padding-right: 1em;
}

ul.icons li a {
   display: block;
   border-radius: 100%;
   margin: 0;
   padding: 0.5em;
   border: solid 1px rgba(255, 252, 252, 0.25);
   color: rgba(144, 144, 144, 0.25);
}

ul.icons li a:before {
   font-size: 1.5em;
   display: block;
   width: 1.5em;
   height: 1.5em;
   line-height: 1.5em;
}

ul.icons li a:hover {
   background-color: #202024;
   color: #fff;
}

ul.icons li:last-child {
   padding-right: 0;
}

ul.actions {
   cursor: default;
   list-style: none;
   padding-left: 0;
}

ul.actions li {
   display: inline-block;
   padding: 0 1em 0 0;
   vertical-align: middle;
}

ul.actions li:last-child {
   padding-right: 0;
}

ul.actions.small li {
   padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
   display: block;
   padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
   padding-top: 0;
}

ul.actions.vertical li>* {
   margin-bottom: 0;
}

ul.actions.vertical.small li {
   padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
   padding-top: 0;
}

ul.actions.fit {
   display: table;
   margin-left: -1em;
   padding: 0;
   table-layout: fixed;
   width: calc(100% + 1em);
}

ul.actions.fit li {
   display: table-cell;
   padding: 0 0 0 1em;
}

ul.actions.fit li>* {
   margin-bottom: 0;
}

ul.actions.fit.small {
   margin-left: -0.5em;
   width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
   padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {
   ul.actions {
      margin: 0 0 2em 0;
   }

   ul.actions li {
      padding: 1em 0 0 0;
      display: block;
      text-align: center;
      width: 100%;
   }

   ul.actions li:first-child {
      padding-top: 0;
   }

   ul.actions li>* {
      width: 100%;
      margin: 0 !important;
   }

   ul.actions li>*.icon:before {
      margin-left: -2em;
   }

   ul.actions.small li {
      padding: 0.5em 0 0 0;
   }

   ul.actions.small li:first-child {
      padding-top: 0;
   }
}

dl {
   margin: 0 0 2em 0;
}

dl dt {
   display: block;
   font-weight: 400;
   margin: 0 0 1em 0;
}

dl dd {
   margin-left: 2em;
}


/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
   appearance: none;
   transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
   background-color: #ffffff;
   border-radius: 4px;
   border: 0px solid rgb(170, 170, 170);
   color: #000000 !important;
   cursor: pointer;
   display: inline-block;
   font-weight: bold;
   height: 2.85em;
   line-height: 2.95em;
   padding: 0 1.5em;
   text-decoration: none;
   white-space: nowrap;
   text-transform: uppercase;
   text-shadow: 2px 2px 4px rgba(210, 210, 210, 0.5),
      0 0 10px rgba(180, 180, 180, 0.3), 0 0 15px rgba(181, 181, 181, 0.2);
   box-shadow: 10px 10px 8px rgba(30, 30, 30, 0.1);
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
   background-color: #274873ce;
   color: white !important;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
   background-color: #5ec0b6;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
   padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
   margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
   display: flex;
   margin: 0 0 1em 0;
   width: 40%;
   text-align: center;
   justify-content: center;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
   font-size: 0.8em;
}

.banner-equipo {
   margin-top: 5%;
   margin-bottom: 5%;
   height: 70vh;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
}

@media screen and (max-width: 1280px) {
   .banner-equipo {
      margin-top: 8%;
   }
}

@media screen and (max-width: 950px) {
   .banner-equipo {
      margin-top: 15%;
   }
}

@media screen and (max-width: 736px) {
   .banner-equipo {
      margin-top: 20%;
   }
}

.subtitulo {
   color: #ffffff;
   font-size: 3em;
   font-weight: bold;
   text-align: center;
   margin: 0;
   text-shadow: 2px 2px 4px rgba(135, 135, 135, 0.5),
      0 0 10px rgba(180, 180, 180, 0.3), 0 0 15px rgba(181, 181, 181, 0.2);
   /* Sombras para crear el efecto de relieve */
   padding: 0.5em 0;
   /* Espacio alrededor del texto */
   font-family: Arial, Helvetica, sans-serif;
}

.botones {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 0.5em;
   align-items: center;
}

.subtitulo-alumnos {
   color: #ffffff;
   font-size: 3em;
   font-weight: bold;
   text-align: center;
   margin-top: 2em;
   margin: 0;
   text-shadow: 2px 2px 4px rgba(135, 135, 135, 0.5),
      0 0 10px rgba(180, 180, 180, 0.3), 0 0 15px rgba(181, 181, 181, 0.2);
   padding: 0.5em 0;
   font-family: Arial, Helvetica, sans-serif;
}

.base-transparente {
   width: 1em;
   color: rgba(0, 0, 0, 0);
   background-color: rgba(0, 0, 0, 0);
}

.titulo {
   padding: 0.5em;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 0.5em;
   font-size: 3.5em;
   font-weight: bold;
   margin-top: 1em;
   color: rgb(255, 255, 255);
   text-shadow: 2px 2px 4px rgba(104, 104, 104, 0.5),
      0 0 10px rgba(180, 180, 180, 0.3), 0 0 15px rgba(181, 181, 181, 0.2);
}

@media screen and (max-width: 1280px) {
   .titulo {
      font-size: 2em;
      margin-top: 2em;
   }
}

@media screen and (max-width: 950px) {
   .titulo {
      font-size: 2em;
      margin-top: 2em;
      margin-bottom: 2em;
   }
}

@media screen and (max-width: 736px) {
   .titulo {
      font-size: 2em;
      margin-top: 2em;
      margin-bottom: 2em;
   }
}

.titulo-small {
   padding: 0.5em;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 0.5em;
   font-size: 1em;
   margin-top: 1em;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: black;
}

.menu-opciones {
   color: black;
   list-style: none;
   display: flex;
   justify-content: center;
   font-size: 1.5em;
   margin-top: 1em;
   flex-wrap: wrap;
}

li {
   position: relative;
   list-style: none;
}

li>a {
   display: block;
   padding: 10px 10px;
   text-decoration: none;
   font-weight: normal;
}

.plataforma {
   padding: 10px 10px;
}

li .dropdown {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   background-color: #ffffff;
   padding: 0;
   margin: 0;
   list-style: none;
   box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.2);
   width: auto;
   /* Ensure the dropdown width adjusts to its content */
   min-width: max-content;
   /* Ensure the dropdown width is at least as wide as its content */
}

li .dropdown li a {
   display: block;
   padding: 10px 20px;
   text-decoration: none;
   color: #000;
   background-color: white;
   white-space: nowrap;
   width: auto;
   min-width: max-content;
}

li:hover .dropdown {
   display: block;
}

li .dropdown li a:hover {
   background-color: #4782be;
   color: white;
}

@media (max-width: 1280px) {
   li .dropdown {
      display: none !important;
   }

   li>a>i {
      display: none !important;
   }
}

.dropdown {
   position: relative;
   list-style: none;
   padding: 0;
   margin: 0;
}

.menu-item {
   position: relative;
}

.sub-menu {
   display: none;
   position: absolute;
   right: 100%;
   top: 0;
   list-style: none;
   background-color: #fff;
   padding: 10px;
   box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
   min-width: 300px;
   z-index: 1000;
   white-space: nowrap;
}

.menu-item:hover .sub-menu {
   display: block;
   background-color: #002a54;
}

@media (max-width: 1200px) {
   .dropdown {
      display: none;
   }

   .dropdown-trigger {
      display: block;
   }

   .dropdown .sub-menu {
      display: none;
   }

   .dropdown>.menu-item>a {
      pointer-events: none;
   }
}

.plataforma {
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.dropdown>li {
   position: relative;
   white-space: nowrap;
}

@keyframes line-animation {
   0% {
      width: 0;
   }

   100% {
      width: 100%;
   }
}

a {
   color: inherit;
   text-decoration: none;
   border-bottom: none;
}

.hamburger {
   display: none;
   flex-direction: column;
   cursor: pointer;
}

.hamburger .bar {
   height: 3px;
   width: 25px;
   background-color: black;
   margin: 4px 0;
}

input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
   background-color: rgba(255, 255, 255, 0.75) !important;
   box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
   color: #202024 !important;
   cursor: default;
   opacity: 0.25;
}

input[type="submit"].style2,
input[type="reset"].style2,
input[type="button"].style2,
button.style2,
.button.style2 {
   background-color: #7f92cf;
}

input[type="submit"].style2:hover,
input[type="reset"].style2:hover,
input[type="button"].style2:hover,
button.style2:hover,
.button.style2:hover {
   background-color: #92a2d6;
}

input[type="submit"].style2:active,
input[type="reset"].style2:active,
input[type="button"].style2:active,
button.style2:active,
.button.style2:active {
   background-color: #6c82c8;
}

input[type="submit"].style3,
input[type="reset"].style3,
input[type="button"].style3,
button.style3,
.button.style3 {
   background-color: #9d7ed0;
}

input[type="submit"].style3:hover,
input[type="reset"].style3:hover,
input[type="button"].style3:hover,
button.style3:hover,
.button.style3:hover {
   background-color: #ab91d7;
}

input[type="submit"].style3:active,
input[type="reset"].style3:active,
input[type="button"].style3:active,
button.style3:active,
.button.style3:active {
   background-color: #8f6bc9;
}

@media screen and (max-width: 480px) {

   input[type="submit"],
   input[type="reset"],
   input[type="button"],
   button,
   .button {
      padding: 0;
   }
}

/* Poptrox */

.poptrox-popup {
   -moz-box-sizing: content-box;
   -webkit-box-sizing: content-box;
   -ms-box-sizing: content-box;
   box-sizing: content-box;
   background: #000;
   box-shadow: 0 0.5em 3em 0 rgba(0, 0, 0, 0.25);
   border-radius: 4px;
   padding: 2em;
   overflow: hidden;
}

.poptrox-popup .closer {
   -moz-transition: opacity 0.2s ease-in-out;
   -webkit-transition: opacity 0.2s ease-in-out;
   -ms-transition: opacity 0.2s ease-in-out;
   transition: opacity 0.2s ease-in-out;
   text-decoration: none;
   position: absolute;
   top: 0.5em;
   right: 0.5em;
   z-index: 11000;
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
   white-space: nowrap;
   text-indent: 2em;
   overflow: hidden;
   width: 2em;
   height: 2em;
   display: block;
}

.poptrox-popup .closer:before {
   content: "\f00d";
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   font-style: normal;
   font-weight: normal;
   text-transform: none !important;
   display: block;
   position: relative;
   text-indent: 0;
   border-radius: 100%;
   box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
   color: #ffffff !important;
   width: 2em;
   height: 2em;
   line-height: 2em;
}

.poptrox-popup:hover .closer {
   opacity: 0.5;
}

.poptrox-popup:hover .closer:hover {
   opacity: 1;
}

@media screen and (max-width: 736px) {
   .poptrox-popup {
      padding: 0;
   }

   .poptrox-popup .closer {
      display: none !important;
   }
}

.boton-top {
   position: fixed;
   bottom: 35px;
   right: 35px;
   background: #333;
   color: white;
   padding: 5px 10px;
   border-radius: 50%;
   text-decoration: none;
   font-size: 24px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Banner */

#banner {
   -moz-align-items: center;
   -webkit-align-items: center;
   -ms-align-items: center;
   align-items: center;
   display: -moz-flex;
   display: -webkit-flex;
   display: -ms-flex;
   display: flex;
   -moz-justify-content: center;
   -webkit-justify-content: center;
   -ms-justify-content: center;
   justify-content: center;
   padding: 0em 15em 0em 15em;
   min-height: 90vh;
   background-image: url("../../images/banner2.jpg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-top: 0;
   position: relative;
   text-align: center;
   overflow: hidden;
}

#banner .inner {
   text-align: center;
   position: relative;
   z-index: 2;
   text-align: start;
}

#banner h1 {
   color: #fff;
   font-size: 2.5em;
   font-weight: bold;
   text-align: center;
   margin: 0;
   margin: 0px 20% 0px 20%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#banner h2 {
   font-size: 1em;
}

#banner button a {
   text-decoration: none;
   color: black;
   text-shadow: none;
   font-size: 1.5em;
   border-bottom: none;
}

.botonesbaner {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 2%;
}

.botonesbaner {
   opacity: 1;
   transform: translateY(0) scale(1);
   transition: opacity 0.5s ease-out, transform 0.9s ease-out;
}

.botonesbaner.fade-out {
   opacity: 0;
   transform: translateY(20px) scale(0.95);
   /* Ajusta el valor según sea necesario */
}

#banner .buttonizq {
   background-color: white;
   color: white !important;
   text-transform: capitalize;
   height: 100%;
   width: 15%;
}

#banner .buttonizq:hover {
   background-color: rgb(238, 238, 238);
}

#banner .buttonder {
   background-color: rgba(255, 255, 255, 0.154);
   text-transform: capitalize;
   border: solid 3px white;
   color: white !important;
   height: 100%;
   width: 15%;
}

#banner .buttonder a {
   color: white;
}

#banner .buttonder:hover {
   background-color: #ffffff6d;
}

#banner button {
   width: 25%;
   height: 10vh;
   margin-top: 1em;
   border: none;
}

@media screen and (max-width: 1099px) {
   #banner button {
      width: 45%;
   }

   s #banner h1 {
      font-size: 4em;
   }
}

@media screen and (max-width: 736px) {
   #banner button {
      width: 45%;
      height: 10%;
   }

   .banner-separacion {
      width: 100vw;
   }

   .bannerizq {
      width: 95% !important;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center !important;
      align-items: center;
   }

   #banner h1 {
      font-size: 2em;
   }
}

@media screen and (max-width: 1280px) {
   #banner h1 {
      font-size: 3em;
   }

   #banner button {
      width: 45% !important;
      height: 30% !important;
   }

   .banner-separacion {
      width: 100vw;
   }

   .bannerizq {
      width: 95% !important;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center !important;
      align-items: center;
   }

   .banner-separacion {
      flex-direction: column;
   }

   .bannerizq {
      width: 100%;
      order: 2;
   }

   .bannerder {
      width: 0%;
   }

   .cube {
      display: none;
   }

   .banner-separacion {
      padding: 1em;
   }
}

@media screen and (max-width: 736px) {
   #banner h1 {
      font-size: 3em;
   }

   #banner h2 {
      font-size: 1em;
   }

   .banner-separacion {
      padding: 1em;
   }
}

.banner-separacion {
   width: 100vw;
   display: flex;
   flex-direction: column;
   padding: 3em;
   height: 100vh;
}

.bannerizq {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 40%;
   margin-bottom: 6.5%;
   margin-left: 1em;
}

.bannerizq {
   opacity: 1;
   transform: translateY(0) scale(1);
   transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.bannerizq.fade-out {
   opacity: 0;
   transform: translateY(20px) scale(0.95);
   /* Ajusta el valor según sea necesario */
}

.bannerder {
   width: 100%;
   display: flex;
   justify-content: center;
   justify-content: center;
   align-items: center;
}

.bannerder {
   opacity: 1;
   transform: translateY(0) scale(0.9);
   transition: opacity 1.4s ease-out, transform 0.5s ease-out;
}

.bannerder.fade-out {
   opacity: 0;
   transform: translateY(20px) scale(0.95);
   /* Ajusta el valor según sea necesario */
}

.scene {
   perspective: 800px;
}

.cube {
   position: relative;
   width: 200px;
   height: 200px;
   transform-style: preserve-3d;
   transform: rotateX(0) rotateY(0);
   animation: spin 10s infinite linear;
}

.face {
   position: absolute;
   width: 200px;
   height: 200px;
   background-color: #ffffff31;
   border: 1px solid #ffffff;
   font-size: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #333;
}

.front {
   transform: translateZ(100px);
}

.back {
   transform: rotateY(180deg) translateZ(100px);
}

.right {
   transform: rotateY(90deg) translateZ(100px);
}

.left {
   transform: rotateY(-90deg) translateZ(100px);
}

.top {
   transform: rotateX(90deg) translateZ(100px);
}

.bottom {
   transform: rotateX(-90deg) translateZ(100px);
}

@keyframes spin {
   from {
      transform: rotateX(0) rotateY(0);
   }

   to {
      transform: rotateX(360deg) rotateY(360deg);
   }
}

.fondo {
   background-color: #112e40;
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.fondotramvet {
   width: 100%;
   min-height: 100vh;
   display: flex;
   background-color: #ebeff2;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.fondofrase {
   width: 100%;
   min-height: 25vh;
   display: flex;
   background-color: #ebeff2;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.fondofrase h1 {
   margin: 0;
   font-size: 2em;
   color: black;
   text-align: center;
}

.fondocarreras {
   min-height: 20vh;

   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.fondoup {
   background-color: #112e40;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.fondoup h1 {
   margin-top: 1.5em;
   margin-bottom: 2em;
   color: #ffffff;
   font-size: 1.5em;
   text-align: center;
}

.fondoup h2,
.fondoup h3,
.fondoup h4,
.fondoup h5,
.fondoup h6 {
   font-weight: 200;
   margin-top: 0.5em;
   color: #ffffff8c;
   font-size: 1em;
   text-align: center;
   margin-top: 2.5em;
}

.fondotramvet h1 {
   margin-top: 1.5em;
   color: #000000;
   font-size: 1.5em;
   text-align: center;
}

.fondotramvet h2,
.fondotramvet h3,
.fondotramvet h4,
.fondotramvet h5,
.fondotramvet h6 {
   margin-top: 0.5em;
   color: #565656;
   font-size: 1em;
   text-align: center;
}

.departamento {
   width: 80%;
   height: 80%;
   display: flex;
   flex-direction: column;

   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.departamento img {
   max-width: 100%;
   max-height: 100%;
   display: block;
   object-fit: contain;
}

#banner p {
   color: rgba(255, 255, 255, 0.85);
   font-size: 1.5em;
   font-weight: 300;
}

@media screen and (max-width: 980px) {
   #banner p {
      font-size: 1.5em;
   }

   .fondo {
      min-height: 80vh;
   }
}

@media screen and (max-width: 480px) {
   #banner p {
      font-size: 1.25em;
   }

   .fondo {
      min-height: 50vh;
   }
}

#banner a {
   color: rgba(255, 255, 255, 0.75);
   text-decoration: none;
   border-bottom: 1px dotted;
}

#banner .more {
   background-image: url("images/arrow.svg");
   background-position: center 1.35em;
   background-repeat: no-repeat;
   background-size: auto;
   border: 1px solid #fff;
   border-radius: 100%;
   color: rgba(255, 255, 255, 0.75);
   display: block;
   height: 4em;
   text-indent: 4em;
   overflow: hidden;
   white-space: nowrap;
   width: 4em;
   z-index: 2;
   margin: 0 auto 2em auto;
}

#banner .more:hover {
   background-color: rgba(255, 255, 255, 0.05);
   border: 1px solid #fff;
   color: #fff;
}

#banner video {
   -moz-transform: translateX(50%) translateY(50%);
   -webkit-transform: translateX(50%) translateY(50%);
   -ms-transform: translateX(50%) translateY(50%);
   transform: translateX(50%) translateY(50%);
   position: absolute;
   bottom: 50%;
   right: 50%;
   width: auto;
   height: auto;
   min-width: 100%;
   min-height: 100%;
   overflow: hidden;
}

@media screen and (max-width: 1280px) {
   #banner video {
      display: none;
   }
}

@media screen and (max-width: 980px) {
   #banner br {
      display: none;
   }
}

@media screen and (max-width: 736px) {
   #banner {
      min-height: 0;
      padding: 6em 2em 4em 2em;
   }

   #banner br {
      display: none;
   }
}

body.is-loading #banner:before {
   opacity: 1;
}

/* Main */

#main {
   background-color: #ffffff;
}

@media screen and (max-width: 736px) {
   #main {
      padding: 3em 0 1em 0;
   }
}

#main .inner {
   width: 90%;
   max-width: 100em;
   margin: 0 auto;
}

@media screen and (max-width: 480px) {
   #main .inner {
      width: 95%;
   }
}

/* Footer */

#footer {
   padding: 4em 0 2em 0;
   background-color: #1b1b1f;
   text-align: center;
}

#footer .inner {
   width: 50%;
   margin: 0 auto;
}

@media screen and (max-width: 980px) {
   #footer .inner {
      width: 75%;
   }
}

@media screen and (max-width: 480px) {
   #footer .inner {
      width: 90%;
   }
}

#footer .copyright {
   color: rgba(255, 255, 255, 0.5);
   font-size: 0.9em;
   margin: 0 0 2em 0;
   padding: 0;
   text-align: center;
}

.copyright {
   background-color: #1b1b1f;
   color: rgba(255, 255, 255, 0.5);
   font-size: 0.7em;
   padding: 2em 0 2em 0;
   text-align: center;
}

.copyright a {
   color: white;
   border-bottom: none;
   font-weight: 700;
   text-decoration: none;
}

@media screen and (max-width: 736px) {
   #footer {
      padding: 3em 0 1em 0;
   }
}



/* Navbar */

.navbar {
   display: flex;
   align-items: center;
   flex-direction: row;
   background-color: #002a54;
   color: white;
   padding: 0;
   margin: 0;
   width: 100vw;
   position: sticky;
   top: 0;
   z-index: 100;
}


img {
   height: auto;

}

.navbar-image {
   height: auto;
   width: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.navbar-image img {
   height: auto;
   width: 200px;
   max-width: 100%;
   margin-left: 1em;
   max-width: 100%;
   object-fit: contain;
}

.navbar-top {
   color: white;
   text-align: center;
   padding: 0px;
   opacity: 1;
   display: flex;
   justify-content: flex-start;
   gap: 150px;
   align-items: center;
   transition: opacity 0.5s ease, height 0.5s ease;
   width: 100vw;
   border-bottom: 1px solid #ffffff38;
}


.navbar-bottom {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5%;
   height: auto;
   width: 100vw;
}

.navbar-social {
   display: flex;
   width: 100%;
   margin: 10px;
   justify-content: center;
   align-items: center;
   gap: 20px;

}

.top-nav {
   display: flex;
   justify-content: center;
   align-items: center;
}

.navbar-social a {
   color: white;
   font-size: 20px;
}

.navbar-social a:hover {
   color: #ddd;
}

.nav-der {
   display: flex;
   flex-direction: column;
   padding: 0;
   margin: 0;
   width: 73%;
}


.nav-links {
   list-style: none;
   display: flex;
   gap: 15px;
   height: 100%;
   width: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav-links li {
   position: relative;
}

.nav-links a {
   color: white;
   text-decoration: none;
   padding: 0px;
   transition: color 0.3s ease;
}

.nav-links a:hover {
   color: #ddd;
}

.dropdown-container {
   position: relative;
}

.dropdown {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   background-color: #ffffff;
   width: auto;
   min-width: max-content;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

.dropdown-container {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.dropdown-container:hover .dropdown {
   display: block;
   background-color: #074b8f;
   color: white;
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 10;
}

.sub-menu {
   display: none;
   background-color: white;
   width: auto;
   min-width: max-content;
   position: absolute;
   top: 0;
   left: 100%;
   padding: 0px;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
   z-index: 1;
}


.nav-links {
   list-style: none;
   display: flex;
   margin: 0;
   text-decoration: none !important;
   padding: 0;
}

.nav-links a {
   text-decoration: none !important;
   padding: 10px;
   display: block;
   position: relative;

}

.navbar-left {
   padding: 0;
   margin-left: 0.5%;
}

.nav-links a:hover::after,
.nav-links a:focus::after {
   content: "";
   display: block;
   width: 100%;
   height: 7%;
   background-color: rgb(0, 0, 0);
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0;
   animation: line-animation 0.5s forwards;
   background-color: white;
}



.nav-links.active {
   display: block;
}

.hamburger {
   display: none;
}

/* Muestra el menú hamburguesa en pantallas pequeñas */
@media (max-width: 1280px) {

   .navbar {
      padding: 10px;
   }

   .navbar-top {
      display: none;
   }

   .navbar-bottom {
      display: flex;
      width: 100vw;
      justify-content: space-between;
   }

   .hamburger {
      display: block;
      cursor: pointer;
      margin-right: 1em;
   }

   .hamburger .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 4px auto;
      transition: all 0.3s ease-in-out;
      background-color: white;
      margin-right: 50px;
      ;
   }

   .nav-links {
      display: none;
      list-style-type: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      background-color: #002a54;
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 100;
   }

   .nav-links.active {
      display: flex;
   }

   .top-nav {
      display: none;
   }

   .hamburger {

      margin-right: 7%;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 25px;
   }

   .bar {
      background-color: #000;
      height: 3px;
      width: 100%;
      border-radius: 10px;
      transition: all 0.3s ease;
   }

   .navbar {
      position: relative;
      position: sticky;
   }

   .nav-links {
      display: none;
      flex-direction: column;
      background-color: #0c0e10;
      position: absolute;
      top: 100%;
      left: 60%;
      width: 40%;
      height: 100vh;
      text-align: center;
      transition: transform 0.3s ease;
      padding: 20px 10px;
      align-items: flex-start;
   }

   .nav-links.active {
      display: flex;
      justify-content: flex-start;

   }

   .nav-links a {
      color: #fff;
      text-decoration: none;
      display: block;
      width: 100%;
      padding: 10px;
      text-align: left;
   }

   .nav-links li {
      width: 100%;
   }

}

/*---main---*/

.main-content {
   width: 100vw;
}

.main-content .bento-container h1,
.main-content .bento-container h2,
.main-content .bento-container h3,
.main-content .bento-container h4,
.main-content .bento-container h5,
.main-content .bento-container h6,
.main-content .bento-container p,
.main-content .bento-container span,
.main-content .bento-container a {
   color: black;
}

.bento-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: auto 1fr auto;
   gap: 20px;
   max-width: 70%;
   margin: 0 auto;
   padding: 20px;
   color: black;
   
}

/* Estilos para cada sección */
.hero {
   
   grid-column: 1 / -1;
   text-align: center;
   padding: 20px;
}

.hero img {
   width: 100%;
   max-height: 300px;
   object-fit: cover;
   margin-top: 10%;
}

.hero h2{
   margin-top: 10%;
   text-align: center;
   color:#002a54 !important; 
}


.hero p {
   text-align: center;
   font-size: 1rem !important;
}

.lab-name {
   
   font-weight: bold;
   color: #007bff; /* Ejemplo de color, puedes cambiarlo */
 }

.services {
   grid-column: 1 / -1;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px;
   padding: 20px;
   margin-top: 2%;
   margin-bottom: 15%;
}

.service {
   background-color: rgb(255, 255, 255);
   border-radius: 10px;
   text-align: start;
   padding: 20px;
}

.service i{
   font-size: 2rem;
   color:#002a54 !important; 
   width: 100%;
   text-align: start;
   padding: 10%;
}

.service h4{
   color:#002a54 !important; 
}


.mision, .vision, .valores {
   border: 1px solid #ddd; /* Agregar un borde sutil a cada sección */
   padding: 15px;
 }

.partners{
   margin-top: 10%;
   grid-column: 1 / -1;
   text-align: center;
}


.union {
   display: flex;
   justify-content: center;
   align-items: center;
   grid-column: 1 / -1;
   padding: 20px;
   display: flex;;
}

.companies {
   grid-column: 1 / -1;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px;
   padding: 20px;
   margin-bottom: 20%;

}

.company {
   border-radius: 10px;
   text-align: start;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.company img {
   width: 100%;
   height: auto;
   object-fit: cover;
   border-radius: 10px;

}



.contact {
   background-color: blue;
   grid-column: 1 / -1;
   padding: 20px;
}

/* Media queries para responsive design */
@media (max-width: 768px) {
   .bento-container {
      grid-template-columns: 1fr;
   }

   .services {
      grid-template-columns: 1fr;
   }
}


/*---Footer---*/

.social-footer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 10px;
}